<h1>EDIT Purchases</h1>
{{#purchase}}
<form action="/purchases/update/{{Id}}" method = "POST" class="form-horizontal">


	<div class="form-group form-group-sm">
		<label for="number" class="control-label col-xs-2">Qauntity:</label>	 
		 <div class="col-xs-10">
			<input type="number" name="Qty"  value ="{{Qty}}"  class="form-control"/>
		</div>
	</div>


	<div class="form-group form-group-sm">
		<label for="number" class="control-label col-xs-2">Purchase Price:</label>
		<div class="col-xs-10">	 
	     			<input type="number"  name="Purchase_price" value ="{{Purchase_price}}" class="form-control"/>
	       </div>

	 </div>
	<div class="form-group form-group-sm">
		<label for="date" class="control-label col-xs-2">Date:</label>
			<div class="col-xs-10">	 
     				<input type="date"  name="Purchase_date" value = "{{Purchase_date}}" class="form-control"/>
		
		</div> 
	</div> 

{{/purchase}}


	<div class="form-group">
		<label class="control-label col-xs-2">Suppliers</label>
		<div class="col-xs-10">
     			<select name="Supplier_Id">
    				{{#each suppliers}}
  					{{#if selectedSupplier }}
      					<option  selected="true" value = "{{Id}}">{{Name}}</option>
                                        {{else}}
  					<option value = "{{Id}}" >{{Name}}</option>
                                       {{/if}}
    				{{/each}}
  			</select>
		</div>
	</div>

	<div class="form-group">
		<label class="control-label col-xs-2">Products</label>
		<div class="col-xs-10">


     			<select name="Product_Id">
    				{{#each products}}

                	{{#if selectedProduct }}
	 		    <option value = "{{Id}}" selected="true" >{{Name}}</option>
		    	{{else}}
  				<option value = "{{Id}}" >{{Name}}</option>
			{{/if}}

            {{/each}}
  			</select>
		</div>
	</div>
	 <input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">
</form>

</div>
      <script>
      function myFunction() {
          alert("New purchase has been edited");
        }
      </script>
</div>
	