
<h2>Add Product</h2>

<form action="/products/add" method="POST">
	Description: <input type="text" name="product_name" value="{{product_name}}">
	
	<select name="Category_Id">
		{{#categories}}
     <option value="{{Id}}">{{category_name}}</option>
      {{/categories}}
   </select>
   <input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  

	<!--<input type="submit">-->
</form>

<h2>Products</h2>
<table class = "table" id = "Products List">

<tr>
     <th>Product Id</th>
     <th>Product Name</th>
     <th>Category Name</th>
</tr>
{{#products}}
  <tr>
  <td>{{Id}}
  <td>{{product_name}}</td>
  <td>{{category_name}}</td>
 <td> <a href="/products/edit/{{Id}}">Edit</a></td>
 <td> <a href="/products/delete/{{Id}}">Delete</a></td>

  <tr>
{{/products}}

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}

</table>
