
<h1>Add</h1>

<form action="/products/add" method="POST">
	Description: <input type="text" name="product_name" value="{{product_name}}">
	
	<select name="Category_Id">
		{{#categories}}
     <option value="{{Id}}">{{category_name}}</option>
      {{/categories}}
   </select>


	<input type="submit">
</form>

<h1>Products</h1>
{{#products}}
  <h2>{{product_name}}</h2>
  <h2>{{category_name}}</h2>
  <a href="/products/edit/{{Id}}">Edit</a>
  <a href="/products/delete/{{Id}}">Delete</a>
{{/products}}

{{#no_products}}
  <p>No products available yet. Add some above.</p>
{{/no_products}}



