<h2>Add Purchases</h2>

<form action="purchases/add" method="POST" class="form-horizontal" >
      
  <div class="form-group">
    <label class="control-label col-xs-2">Products :</label>
    <div class="col-xs-10">  
          <select name="Product_Id">
            {{#each products}}
                <option value = "{{Id}}">{{product_name}}</option>
            {{/each}}
        </select>
    </div>
  </div>

   <div class= "form-group">
     <label class="control-label col-xs-2">Suppliers :</label>
     <div class="col-xs-10">  
        <select name="Supplier_Id">
          {{#each suppliers}}
            <option value = "{{Id}}">{{supplier_name}}<option>
          {{/each}}
          </select>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="Amount" class="control-label col-xs-2">Qauntity :</label>  
     <div class="col-xs-3">
      <input type="number" name="Qty" value="{{Qty}}"class="form-control" placeholder="Please Enter  Amount" required>
    </div>
  </div>


  <div class="form-group form-group-sm">
    <label for="number" class="control-label col-xs-2">Purchase Price :</label>
    <div class="col-xs-3">  
          <input type="number" step="any" name="Purchase_price" value="{{Purchase_price}}" class="form-control" placeholder="Please Enter Purchase Price" required>
    </div>
  </div>

  <div class="form-group form-group-sm">
    <label for="date" class="control-label col-xs-2">Purchase date :</label>
      <div class="col-xs-3">  
            <input type="date" class="form-control" name="Purchase_date" placeholder="yyyy-mm-dd" required/>
      </div>
    
    </div> 
  <input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  

</form>


<h2>Purchases</h2>
<table class = "table" id = "Purchase">
  <tr>
     
     <th>Product Name</th>
     <th>Supplier Name</th>
     <th>Purchase Price</th>
     <th>Quantity</th>
     <th>Purchase Date<th>
</tr>
{{#purchases}}
  <tr>

  <th>{{product_name}}</th>
  <th>{{supplier_name}}</th>
  <th>{{Purchase_price}}</th>
  <th>{{Qty}}</th>
  <th>{{Purchase_date}}</th>

  <td> <a href="/purchases/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
 <td><a href="/purchases/delete/{{Id}}" class="btn btn-danger">
    <span class="glyphicon glyphicon-remove"></span> Delete 
    </a></td>

 </tr> 
{{/purchases}}

{{#no_purchases}}
  <p>No purchases available yet. Add some above.</p>
{{/no_purchases}}

</table>

<!--<form action="/purchases/add" method="POST">
  
  QTY: <input type="text" name="Qty" value="{{Qty}}">
  Purchase Date:<input type="date" name="Purchase_date" value="{{Purchase_date}}">
  Purchase Price:<input type="number" name="Purchase_price"value="{{Purchase_price}}">
  
  
  <select name="Product_Id">
    {{#products}}
     <option value="{{Id}}">{{product_name}}</option>
      {{/products}}
   </select>

   <select name="Supplier_Id">
    {{#suppliers}}
     <option value="{{Id}}">{{supplier_name}}</option>
      {{/suppliers}}
   </select>

<input type="submit">
</form>-->



