<h2>Add Sales</h2>

<form action="sales/add" method="POST" class="form-horizontal" >
      
	<div class="form-group">
		<label class="control-label col-xs-2">Products</label>
		<div class="col-xs-5">	 
     			<select name="Id">
    				{{#each products}}
      					<option value = "{{Id}}">{{product_name}}</option>
    				{{/each}}
  			</select>
		</div>

	</div>

	<div class="form-group">
		<label for="Amount" class="control-label col-xs-2">Qauntity</label>	 
		 <div class="col-xs-5">
			<input type="number" name="Qty" value="{{Qty}}" class="form-control" placeholder="Please Enter Sales Amount" required>
		</div>
	</div>


	<div class="form-group">
		<label for="number" class="control-label col-xs-2">Price</label>
		<div class="col-xs-5">	 
     			<input type="number" step="any" name="Sales_price" value="{{Sales_price}}" placeholder="Please Enter Sales Price" required>
		</div>
	</div>

	<div class="form-group">
		<label for="date" class="control-label col-xs-2">Date</label>
			<div class="col-xs-5">	 
     				<input type="date" class="form-control" name="Sales_date" value="{{Sales_date}}" placeholder="yyyy-mm-dd" required/>
			</div>
		
		</div> 
 	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  
</form>

<h2>Sales</h2>
<table class ="table" id = "Sales">
	<tr>
     <th>Product Id</th>
     <th>Product Name</th>
     <th>Sales Price</th>
     <th>Quantity</th>
     <th>Sales Date</th>
   </tr>
{{#sales}}
<tr>
  <th>{{Id}}</th>
  <th>{{product_name}}</th>
  <th>{{Sales_price}}</th>
  <th>{{Qty}}</th>
  <th>{{Sales_date}}</th>
</tr>
  <td> <a href="/sales/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
 <td><a href="/sales/delete/{{Id}}" class="btn btn-danger">
    <span class="glyphicon glyphicon-remove"></span> Delete 
    </a></td>

{{/sales}}

{{#no_sales}}
  <p>No sale available yet. Add some above.</p>
{{/no_sales}}

</table>
