 <!-- <thead>
            <tr>
                <th>Product Id</th>
                <th>Product Name</th>
           <th>Category Name</th>
              </tr>
            </thead>
            {{#products}}
              <tr>
                <td>{{Id}}</td>
                <td>{{product_name}}</td>
                <td>{{category_name}}</td>
              </tr>
            {{/products}}  -->



<h2>Products</h2>


<tr>
     <th>Product Id</th>
     <th>Product Name</th>
     <th>Category Name</th>
</tr>
{{#products}}
  <tr>
  <td>{{Id}}</td>
  <td>{{product_name}}</td>
  <td>{{category_name}}</td>
 <td> <a href="/products/edit/{{Id}}" class="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a></td>
 <td> <a href="/products/delete/{{Id}}" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
<tr>
{{/products}}




<a class="btn btn-primary" href="/products" role="button">Back to Products</a>
<a class="btn btn-primary" href="/home" role="button">Back to Home</a>

