<h2>Add Supplier</h2>

<form action="/suppliers/add" method="POST">
	Supplier: <input type="text" name="supplier_name" value="{{supplier_name}}">
  
	<input type="submit" class="btn btn-success" id="enter" onclick="myFunction()">  
	<!--<select name="Category_Id">
		{{#categories}}
     <option value="{{Id}}">{{category_name}}</option>
      {{/categories}}
   </select>  


	<input type="submit">-->
</form>

<h2>Suppliers</h2>
<table class ="table" id = "suppliers">
  </tr>
       <th>Supplier Id</th>
       <th>Supplier Name</th>
  </tr>
{{#suppliers}}
<tr>
  <th>{{Id}}</th>
  <th>{{supplier_name}}</th>
  <td><a href="/suppliers/edit/{{Id}}" class ="btn btn-success"><span class="glyphicon glyphicon-edit"></span> Edit</a>
  </td>
  <td><a href="/suppliers/delete/{{Id}}" class="btn btn-danger">
     <span class="glyphicon glyphicon-remove"></span> Delete 
     </a>
   </td>
</tr>
{{/suppliers}}

<!-- {{#no_suppliers}}
  <p>No products available yet. Add some above.</p>
{{/no_suppliers}} -->

</table>


