
<div class="row">
    <div class="box">
        <div class="col-lg-12 text-center">
             <div id="carousel-example-generic" class="carousel slide">
                 <h2 class="brand-before">
                 <small>Welcome to</small></h2>Nelisa's Cash Store
                 <div id="slide-container">
                </div>
            </div>
        </div>
     </div>
</div>
<div>
   

{{#Admin}}

<h2>List of Users</h2>

<table class="table table-striped custab">
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                {{#each USer}}
                <td>{{username}}</td>
                <td>{{role}}</td>
                <td class="text-center">
               <a href="/user/admin/{{Id}}"> <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-edit"></span>Admin</button></a> <a href="/user/notAdmin/{{Id}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>View</button></a>
             <a href="/User/delete/{{Id}}" class="btn btn-danger btn-large" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
     
            </tr>
          
            {{/each}}
    </table>
 {{/Admin}} 
{{#action}}
<h1 id="user">Sorry! You are not authorised to view this page!</h1>
{{/action}} 
 </div>

</div>

<!-- <table class="table">

    <tr>
        <th>Username</th>
        <th>Role</th>
    </tr>
  

        <tr>
            <form action="/user/update/{{Id}}" method="post">
              {{#User}}
                <td>{{username}}</td>

                <td>{{role}}</td>

                <td>
                <select name="role">
                <option value="View">View</option>
                <option value="Admin">Admin</option>
                </select></td>
                <td>
                    <input type='submit' value='submit'></input>
                </td>
            </form>
            <td><button><a href="/user/edit/{{Id}}">Edit</a></button></td>
            <td><button><a href="/user/delete/{{Id}}">Delete</a></button> </td>
        </tr>

    {{/User}}
</table>

{{#action}}
<h1 id="user"> You are not Authorised to view this page!</h1>
{{/action}}  -->
