<div id="container">    
{{#Admin}}
<table class="table table-striped custab">
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                {{#each USer}}
                <td>{{username}}</td>
                <td>{{role}}</td>
                <td class="text-center">
               <a href="/users/admin/{{Id}}"> <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-edit"></span>admin</button></a> <a href="/users/notAdmin/{{Id}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>notAdmin</button></a>
<a href="/users/delete/{{Id}}" class="btn btn-danger btn-large" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
     
            </tr>
          
            {{/each}}
    </table>
 {{/Admin}} 
{{#action}}
<h1 id="user">Sorry! You are not authorised to view this page!</h1>
{{/action}} 
 </div>



<!-- <table class="table">

    <tr>
        <th>Username</th>
        <th>Role</th>
    </tr>
  

        <tr>
            <form action="/user/update/{{Id}}" method="post">
              {{#User}}
                <td>{{username}}</td>

                <td>{{role}}</td>

                <td>
                <select name="role">
                <option value="View">View</option>
                <option value="Admin">Admin</option>
                </select></td>
                <td>
                    <input type='submit' value='submit'></input>
                </td>
            </form>
            <td><button><a href="/user/edit/{{Id}}">Edit</a></button></td>
            <td><button><a href="/user/delete/{{Id}}">Delete</a></button> </td>
        </tr>

    {{/User}}
</table>

{{#action}}
<h1 id="user"> You are not Authorised to view this page!</h1>
{{/action}}  -->
