<table class="table table-striped custab">
    <thead>
        <tr>
            <th>User</th>
            <th>Role</th>
            <th class="text-center">Action</th>
        </tr>
    </thead>
            <tr>
                {{#results}}
                <td>{{username}}</td>
                <td>{{role}}</td>
                <td class="text-center">
               <a href="/users/admin/{{Id}}"> <button class="btn btn-lg btn-success"><span class="glyphicon glyphicon-edit"></span>admin</button></a> <a href="/users/notAdmin/{{Id}}"><button class="btn btn-primary"><span class="glyphicon glyphicon-edit"></span>notAdmin</button></a>
             <a href="/User/delete/{{Id}}" class="btn btn-danger btn-large" onclick="return confirm('Are you sure?')"><span class="glyphicon glyphicon-remove"></span> Delete</a></td>
     
            </tr>
          
            {{/results}}
    </table>